{% extends 'base.html.twig' %}


        {% block title %}

                Company Name || Category

         {% endblock title %}
    
  
        {% block websiteName %}
        <h3>
          Ilosc kategori: {{categories|length}}
        </h3>
<h4>
         <ul>
       
         {% for category in categories %}
      
         <li>
            <a href="/category/{{category.getId}}">{{category}}</a>
         </li>
         {% else %}
         Brak kategori
         {% endfor %}
         </ul>
</h4>
         {% endblock websiteName %}

         
     
         
