{% extends 'base.html.twig' %}


        {% block title %}

                Company Name || Category

         {% endblock title %}
    
  
        {% block websiteName %}
        <h3>

        </h3>
<h4>
         <ul>
       
         {% for category in categories %}
      
         <li>
             <p>

            <a href="/category/{{category.getId}}">{{category}}</a>

             {% if is_granted('ROLE_ADMIN') %}
                 <a class="btn btn-danger" href="/remove/category/{{ category.getId }}"> Delete </a>
             {%  endif %}
             </p>
         </li>
         {% else %}
         Brak kategori
         {% endfor %}
         </ul>
</h4>
         {% endblock websiteName %}

         
     
         
